@import url('/Frontend/Component_Based_Design/focus_component/catalog/card/all_card.css');

* Обертка для фокус-зоны каталога */
.focus-zone {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 60px;
}

/* Контейнер каталога внутри фокус-зоны */
#catalog-cards-container {
  align-items: start; /* 👈 ВАЖНО: Прижимает верхушки карточек к одной линии */
}

/* Применять ховер-подсветку только к обычным карточкам */
.work-card:not(.card-empty):hover {
  transform: translateY(-2px);
  border-color: #b9b9b9;
}